FRONTEND_BASE_URL=https://localhost:3000
AUTH_EXTERNAL_BASE_URL=https://localhost:3000/api
KEYCLOAK_PUBLIC_BASE_URL=http://localhost:8080

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_DEFAULT_SCOPE=login:email login:info

S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=bionicpro-reports
CDN_BASE_URL=https://localhost:3000/cdn
REPORT_OBJECT_PREFIX=reports
REPORT_OBJECT_KEY_SECRET=local-report-key-secret
