# LDAP Configuration
LDAP_ORGANISATION=BionicPRO
LDAP_DOMAIN=example.com
LDAP_ADMIN_PASSWORD=admin
LDAP_TLS=false
LDAP_TLS_ENFORCE=false
LDAP_REMOVE_CONFIG_AFTER_SETUP=false
LDAP_BOOTSTRAP_CONFIG=false
LDAP_LOG_LEVEL=256

# Clickhouse Configuration
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=9000
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=reports

# Airflow Configuration
AIRFLOW__CORE__EXECUTOR=SequentialExecutor
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
AIRFLOW__CORE__FERNET_KEY=46BKJoQYlPPOexq0OhDZnIlNepKFf87WFwLbfzqDDho=
AIRFLOW__WEBSERVER__DEFAULT_UI_TIMEZONE=UTC

# Admin User
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin

# Keycloak DB
POSTGRES_DB=keycloak_db
POSTGRES_USER=keycloak_user
POSTGRES_PASSWORD=keycloak_password

# Keycloak Admin
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_URL=http://keycloak:8080/realms/reports-realm

# Keycloak Database (переменные для подключения к PostgreSQL)
KC_DB=postgres
KC_DB_URL=jdbc:postgresql://keycloak_db:5432/keycloak_db
KC_DB_USERNAME=keycloak_user
KC_DB_PASSWORD=keycloak_password

# API Configuration
REPORTS_API_PORT=8000

# Frontend Configuration
REACT_APP_API_URL=http://localhost:8000
REACT_APP_KEYCLOAK_URL=http://localhost:8080
REACT_APP_KEYCLOAK_REALM=reports-realm
REACT_APP_KEYCLOAK_CLIENT_ID=reports-frontend
SKIP_PREFLIGHT_CHECK=true
CI=false

