AIRFLOW__CORE__FERNET_KEY=<GENERATE_WITH_python_-c_"from_cryptography.fernet_import_Fernet;print(Fernet.generate_key().decode())">
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
AIRFLOW__CORE__EXECUTOR=SequentialExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
AIRFLOW_CONN_CRM_POSTGRES=postgresql://airflow:airflow@postgres:5432/crm
AIRFLOW__WEBSERVER__SECRET_KEY=bionicpro-secret-key
