# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_API_SECRET=oNwoLQdvJAvRcL89SydqCWCe5ry1jMgq

# ClickHouse
CLICKHOUSE_HOST=clickhouse
CLICKHOUSE_PORT=9000
CLICKHOUSE_DATABASE=reports

# Reports API
REPORTS_API_PORT=8000